<application>
<name>Fingertips Tapping Experiment LEFT</name>


<!-- ****************************************************************************************************************** -->
<!-- ******************************************************************************** -->
<!-- ** Modules                                                                       -->
    <module>
        <name>Fingertips</name>
        <node>icub14</node>
        <parameters>--from confFingertipsLeft.ini</parameters>
        <workdir>/var/usr/fg/fgicub/iCub/tactileExploration/app/fingertips/</workdir>
        <tag>Fingertips module</tag>
    </module>
    
    <module>
        <name>ReachTouch</name>
        <node>icub14</node>
        <parameters>--from confReachTouchLeft.ini</parameters>
        <workdir>/var/usr/fg/fgicub/iCub/tactileExploration/app/reachtouch/</workdir>
        <tag>ReachTouch module</tag>
    </module>
    
    <module>
        <name>NIDAQmxReader</name>
        <node>cubeOSS</node>
        <parameters>--from confNIDAQmxReader.ini</parameters>
        <workdir></workdir>
        <tag>NIDAQmxReader module</tag>
    </module>
<!-- ****************************************************************************************************************** -->
    
    
<!-- ****************************************************************************************************************** -->
<!-- ******************************************************************************** -->
<!-- ** Connections                                                                   -->
    <connection>
        <from>/fingertips/reachTouch/rpc:o</from>
        <to>/reachTouch/cmd:io</to>
        <protocol>tcp</protocol>
    </connection>
<!-- ****************************************************************************************************************** -->
</application>
